<section class="container">
  <header>Qual livro deseja procurar?</header>
  <app-input
    (emitter)="processResponse($event)"
    #searchBox
    (searchTermChanged)="searchTermChanged()"
  ></app-input>

  <p>Busque por assunto, autoria, nome...</p>
  <div *ngIf="totalBooks">
    <p class="resultados">{{ totalBooks }} livros encontrados</p>
  </div>
  <div class="container-card" *ngIf="booksList?.length; else telaInicial">
    <div *ngFor="let livro of booksList">
      <app-livro [livro]="livro"></app-livro>
    </div>
  </div>
  <div class="container" *ngIf="booksList.length">
    <button class="button" (click)="loadMoreBooks()">Carregar Mais</button>
  </div>
  <ng-template #telaInicial>
    <div class="imagens">
      <h1 class="titulo">
        Busque o livro <br />
        que quiser na <br />
        nossa estante!
      </h1>
      <img
        class="ilustracao"
        src="../../assets/imagens/ilustracao-estante.png"
        alt="Ilustração de uma pessoa em pé ao lado de uma estante com livros e plantas"
      />
    </div>
  </ng-template>
</section>
